@model TodoViewModel

@foreach (var todo in @Model.Todos)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="@todo.Id">
        <label class="form-check-label" for="@todo.Id">
            @todo.Description
        </label>
    </div>
}

<br />

<form asp-controller="Home" asp-action="CreateTodo" method="post">
    <div class="form-group">

        <label for="createTodo">Email address</label>
        <input type="text" class="form-control" id="createTodo" asp-for="CreateModel.Description" />
        <input type="hidden" asp-for="CreateModel.Done" value="false" />
        <input type="hidden" asp-for="CreateModel.Id" value="@Model.NextId" />

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts {
    <script src="~/somepath" asp-append-version="true"></script>
    <script type="text/javascript">
        alert('text');

        $(function () {
            alert('text2');
        })
    </script>
}

