@using Newtonsoft.Json
@model StatsViewModel

<form method="post" asp-controller="Stats" asp-action="Filter">

    <div>

        <input asp-for="DateToFilter" id="date" type="text" class="form-control" />
    </div>

    <fieldset>
        <div>
            <p> </p>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

@if (Model.Raspberrys.ToArray()[0].MeasurePoints.Any())
{
<canvas id="myChart" width="400" height="400"></canvas>
                <canvas id="myChart2" width="400" height="400"></canvas>}

@section Scripts {


    <script>

        $(function () {
            $("#date").datepicker({
                dateFormat: 'dd.mm.yy',
                pickTime: false,
                autoclose: true,
                forceParse: false,
                calendarWeeks: true,
                keyboardNavigation: false,
            });
        });


    var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            data: {
                labels: @Html.Raw(JsonConvert.SerializeObject(@Model.Raspberrys.ToArray()[0].GetDates)),
                datasets: [
                    @foreach (var raspberry in @Model.Raspberrys)
                    {
                         @if (raspberry.MeasurePoints.Any())
                         {
                             <text>
                             {
                                  label: 'Temperatur in Grad Celsius',
                                  borderColor: 'rgb(255, 99, 132)',
                                  data: @Html.Raw(JsonConvert.SerializeObject(raspberry.GetTemp))
                              },
                              </text>
                         }
                    }],
            // Configuration options go here
            options: {}
        },
        });

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {

            labels: @Html.Raw(JsonConvert.SerializeObject(@Model.Raspberrys.ToArray()[0].GetDates)),
            datasets: [
                @foreach (var raspberry in @Model.Raspberrys)
                {
                    @if (raspberry.MeasurePoints.Any())
                    {
                         <text>
                         {
                             label: 'Luftfeuchtigkeit in %',
                             borderColor: 'rgb(255, 99, 132)',
                             data: @Html.Raw(JsonConvert.SerializeObject(raspberry.GetHum))
                         },
                         </text>
                    }
                }],
                // Configuration options go here
                options: {}
                }
            }
        );
    </script>
}