@using Newtonsoft.Json
@model RaspberryStatsViewModel

<form method="post" asp-controller="Stats" asp-action="Filter">

    <div>

        <input asp-for="DateToFilter" id="date" type="text" class="form-control" />
    </div>

    <fieldset>
        <div>
            <p> </p>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

@if (Model.MeasurePoints.Any())
{
    <canvas id="myChart" width="400" height="400"></canvas>
    <canvas id="myChart2" width="400" height="400"></canvas>
}

@section Scripts {


    <script>

        $(function () {
            $("#date").datepicker({
                dateFormat: 'mm.dd.yy',
                pickTime: false,
                autoclose: true,
                forceParse: false,
                calendarWeeks: true,
                keyboardNavigation: false,
            });
        });


    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {

            labels: @Html.Raw(JsonConvert.SerializeObject(@Model.GetDates)),
            datasets: [{
                label: 'Temperatur in Grad Celsius',
                borderColor: 'rgb(255, 99, 132)',
                data: @Html.Raw(JsonConvert.SerializeObject(@Model.GetTemp))
            }],

            // Configuration options go here
            options: {}
        },
        });

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {

            labels: @Html.Raw(JsonConvert.SerializeObject(@Model.GetDates)),
            datasets: [{
                    label: 'Luftfeuchtigkeit in %',
                    borderColor: 'rgb(235, 199, 122)',
                    data: @Html.Raw(JsonConvert.SerializeObject(@Model.GetHum))
            }],
                // Configuration options go here
                options: {}
                }
            }
        );
    </script>
}